/* === BULMA OVERRIDES === */
$color-main:#FFDD57;
$body-background-color:#39424c;
$label-color:#FFF;
$input-color:$label-color;
$input-hover-border-color:$color-main;
$input-focus-border-color:$color-main;
$input-focus-box-shadow-color:rgba($color-main, 0.25);
$button-border-color:transparent;
$button-border-width:0px;
$column-gap:0.5rem;
$variable-columns:false;

// TODO: breakdown bulma into only the essential modules needed
@import "../../../node_modules/bulma/bulma.sass";

$color-background:$body-background-color;
$color-card:#1C2229;
$color-field:#111;
$default-shadow:0px 4px 6px -2px #000;
$container-padding:1rem 0.75rem;

body {
	color:#FFF;
}

h1, h2, h3, h4, h5, h6 {
	color:$color-main;
	font-weight:bold; // bulma override
}

input:not([type="submit"]), textarea {
	background-color:$color-field;
	border-color:$color-background;
}

[type="submit"], .button {
	background-color:$color-main;
	font-weight:bold;
	&:hover {background-color:tint($color-main, 50%)}
}

.column {	
	&:first-child {padding-left:0;}
	&:last-child {padding-right:0;}
	@media screen and (max-width:768px) {
		padding-left:0;
		padding-right:0;
	}
}

.widget {
	background-color:$color-card;
	box-shadow:$default-shadow;
	padding:1.25rem 1rem;
	h1, h2, h3, h4, h5, h6 {margin-bottom:1rem;}
	.level { h1, h2, h3, h4, h5, h6 {margin-bottom:0;}}
	h2 {font-size:1.5rem;}
}

/* === v-calendar style overrides === */
.c-pane, // calendar container 
.c-table-cell, // month picker boxes
.c-header, // year and month display header
.popover-origin .popover-content-wrapper .popover-content, // a container for the c-pane in calendar
.popover-origin .popover-content-wrapper .popover-content.align-left:after, // triangle pointer on top
.popover-origin .popover-content-wrapper .popover-content.align-center:after { 
	background-color:$color-background !important;
	color:$label-color;
}

.c-table-cell:hover:not(.c-active), .c-active { // month-picker-boxes
	background-color:$color-card !important;
}

.popover-origin .popover-content-wrapper .popover-content { 
	border: 1px solid $color-card !important;
}

.c-weekdays {color:#BBB;}
.c-pane-container {color:$label-color !important} // month, date numbers